.DS_Store
.~lock.*
*.dep
*.swp
*.bak
*.save
*.lnk
__pycache__
*.pyc
Thumbs.db

*.log
*.echo
*.3mf
times.txt

.vscode/
scad/target.scad
scad/bom.scad
scad/stlimport

tests.*
tests/*.*
tests/bom
tests/deps
tests/png/*
tests/tmp
!tests/*.scad
!tests/extra/*.scad
# change to !, except for _diff, once released
#!tests.md
#!tests/png/*.png
tests/png/*_diff.png

HC160/assemblies/*
HC160/bom/
HC160/dxfs/*
HC160/stls/*
HC160/tmp/
HC160/*.html
HC160/*.md
# change to !, except for _diff, .stl, and .dxf, once released
#!HC160/readme.md
#!HC160/assemblies/main_assembled.png
#!HC160/assemblies/*.png
HC160/assemblies/*_diff.png
#!HC160/dxfs/*.dxf
#!HC160/dxfs/*.png
HC160/dxfs/*_diff.png
#!HC160/stls/*.stl
#!HC160/stls/*.png
HC160/stls/*_diff.png
